<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>TIssue-web</title>
        <h:outputStylesheet name="base.css" library="css" />
    </h:head>
    <h:body>
        <div id="header">
            <ui:insert name="header" >
                <ui:include src="menu.xhtml" />
            </ui:insert>
        </div>

        <div id="content">
            <ui:insert name="content" >
                Default content
            </ui:insert>
        </div>

        <div id="footer">
            <ui:insert name="footer" >
                Default footer
            </ui:insert>
        </div>
    </h:body>
</html>

