<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">
    <h:form id="headerProjectForm">
        <p:menubar>
            <c:forEach items="#{menuBean.menus}" var="menu">
                <c:choose>
                    <c:when test="#{menu.getClass().simpleName eq 'SubMenu' and not empty menu.children}">
                        <p:submenu label="#{menu.label}">
                            <c:forEach items="#{menu.children}" var="m2">
                                <c:choose>
                                    <c:when test="#{m2.getClass().simpleName eq 'SubMenu' and not empty m2.children}">
                                        <p:submenu label="#{m2.label}">
                                            <c:forEach items="#{m2.children}" var="m3">
                                                <c:choose>
                                                    <c:when test="#{m3.getClass().simpleName eq 'SubMenu' and not empty m3.children}">
                                                        <p:submenu label="#{m3.label}">
                                                            <c:forEach items="#{m3.children}" var="m4">
                                                                <c:choose>
                                                                    <c:when test="#{m4.getClass().simpleName eq 'SubMenu' and not empty m4.children}">
                                                                        <p:submenu label="#{m4.label}">

                                                                        </p:submenu>
                                                                    </c:when>
                                                                    <c:otherwise>
                                                                        <p:menuitem value="#{m4.label}" action="#{m4.action()}"/>
                                                                    </c:otherwise>
                                                                </c:choose>
                                                            </c:forEach>
                                                        </p:submenu>
                                                    </c:when>
                                                    <c:otherwise>
                                                        <p:menuitem value="#{m3.label}" action="#{m3.action()}"/>
                                                    </c:otherwise>
                                                </c:choose>
                                            </c:forEach>
                                        </p:submenu>
                                    </c:when>
                                    <c:otherwise>
                                        <p:menuitem value="#{m2.label}" action="#{m2.action()}"/>
                                    </c:otherwise>
                                </c:choose>
                            </c:forEach>
                        </p:submenu>
                    </c:when>
                    <c:otherwise>
                        <p:menuitem value="#{menu.label}" action="#{menu.action()}"/>
                    </c:otherwise>
                </c:choose>
            </c:forEach>
        </p:menubar>
    </h:form>

</ui:composition>

